<div class="d-flex align-items-center">
  <h1>Quizzs</h1>
  <a mat-raised-button color="primary" routerLink="/details-quizz/new">Ajouter</a>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Titre du quizz</th>
    <th scope="col">Description du quizz</th>
    <th scope="col">Supprimer</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let quizz of quizzs$ | async">
    <td>{{ quizz.title }}</td>
    <td>{{ quizz.description }}</td>
    <td>
      <button mat-icon-button color="warn" (click)="deleteQuizz($event, quizz)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
