<div class="d-flex align-items-center">
  <h1>Utilisateurs</h1>
  <a mat-raised-button color="primary" routerLink="/details-utilisateur/new">Ajouter</a>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Pseudo</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users$ | async; track user) {
    <tr routerLink="/details-utilisateur/{{ user.id }}">
      <td>{{ user.username }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteUser($event, user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
